<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Tâches</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>Liste des Tâches</h1>
        </header>
        <div class="task-controls">
            <button id="addTaskButton" class="add-btn">Ajouter une tâche</button>
        </div>
        <ul id="taskList"></ul>
        <footer>
            <p>Créé par 
                <a href="https://github.com/WhizuGuru" target="_blank">
                    <img src="../static/github-logo.png" alt="GitHub Logo" class="github-logo">
                    WhizuGuru
                </a>
            </p>
        </footer>
    </div>
    <script src="../static/script.js"></script>
</body>
</html>
